[submodule ".themes/light"]
	path = .themes/light
	url = git://github.com/octothemes/classic-light.git
[submodule ".themes/whitespace"]
	path = .themes/whitespace
	url = https://github.com/lucaslew/whitespace
